{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>BABADU</title>
{% endblock meta %}

{% block content %}
<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		{% if errorMsg %}
			<div class="alert alert-danger" role="alert" id="center">
				{{ errorMsg }}
			</div>
		{% endif %}
		<h2><strong>BABADU - 5</strong></h2>
		<div class="row">
			<div class="col">
				<a href="/login" class="btn btn-primary btn-custom btn-block">Login</a>
			</div>
			<div class="col">
				<a href="/register" class="btn btn-primary btn-custom btn-block">Register</a>
			</div>
		</div>
	</div>
</div>
<!-- INTERNAL CSS FOR AUTH -->
<style>
html, body {
    background-color: #f8f9fa;
    height: auto;
}

body {
    background-image: linear-gradient(to right, #10b4b1, #c6e8df);
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
}

.navbar-custom {
    background-color: #002B5B;
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.2);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    font-size: 1.25rem;
}

.navbar-custom .navbar-brand {
    font-weight: bold;
}

.navbar-custom .nav-link {
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #a2a378;
}

.btn-custom {
    background-color: #28708f;
    border-color: #28708f;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #164D68;
    border-color: #164D68;
}

.content-container {
    max-width: 5000px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 100px auto 50px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    padding: 20px;
    border-radius: 10px;
}

.table {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #146288;
    color: #fff;
}

.question {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.question p {
    font-size: 18px;
    font-weight: bold;
}

.question label {
    font-size: 16px;
    margin-left: 5px;
}
</style>
{% endblock content %}