{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Register Pelatih - BABADU</title>
{% endblock meta %}

{% block content %}
<style>
    #center {
        text-align: center !important;
    }
</style>

<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		<h2><strong>FORM REGISTRASI PELATIH</strong></h2>
		{% if message %}
			{% if isSuccess %}
				<div class="alert alert-success" role="alert" id="center">
					{{ message }}
				</div>
			{% else %}
                <div class="alert alert-danger" role="alert" id="center">
                    {{ message }}
                </div>
			{% endif %}
		{% endif %}
		<form method="POST">
            {% csrf_token %}
			<div class="form-group">
				<label for="name">Nama:</label>
				<input type="text" class="form-control" id="name" name="name" placeholder="Masukkan nama" required>
			</div>
			<div class="form-group mb-3"> <!-- Tambahkan kelas 'mb-3' di sini -->
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Masukkan email" required>
			</div>
            <div class="form-group mb-3"> <!-- Tambahkan kelas 'mb-3' di sini -->
				<label for="negara">Negara:</label>
				<input type="text" class="form-control" id="negara" name="negara" placeholder="Masukkan negara" required>
			</div>
            <div class="form-group mb-3"> <!-- Tambahkan kelas 'mb-3' di sini -->
				<label>Kategori:</label>
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" id="tunggal_putra" name="tunggal_putra">
                        <label for="tunggal_putra">Tunggal Putra</label>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" id="tunggal_putri" name="tunggal_putri">
                        <label for="tunggal_putri">Tunggal Putri</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" id="ganda_putra" name="ganda_putra">
                        <label for="ganda_putra">Ganda Putra</label>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" id="ganda_putri" name="ganda_putri">
                        <label for="ganda_putri">Ganda Putri</label>
                    </div>
                    <div class="col-sm-5">
                        <input class="form-check-input" type="checkbox" value="" id="ganda_campuran" name="ganda_campuran">
                        <label for="ganda_campuran">Ganda Campuran</label>
                    </div>
                </div>
			</div>
            <div class="form-group mb-3"> <!-- Tambahkan kelas 'mb-3' di sini -->
				<label for="date">Tanggal Mulai:</label>
				<input type="date" class="form-control" id="negara" name="startdate" placeholder="Masukkan negara" required>
			</div>
			<button type="submit" class="btn btn-primary btn-custom btn-block">Daftar</button>
		</form>
	</div>
</div>
<!-- INTERNAL CSS FOR AUTH -->
<style>
html, body {
    background-color: #f8f9fa;
    height: auto;
}

body {
    background-image: linear-gradient(to right, #10b4b1, #c6e8df);
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
}

.navbar-custom {
    background-color: #002B5B;
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.2);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    font-size: 1.25rem;
}

.navbar-custom .navbar-brand {
    font-weight: bold;
}

.navbar-custom .nav-link {
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #a2a378;
}

.btn-custom {
    background-color: #28708f;
    border-color: #28708f;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #164D68;
    border-color: #164D68;
}

.content-container {
    max-width: 5000px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 100px auto 50px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    padding: 20px;
    border-radius: 10px;
}

.table {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #146288;
    color: #fff;
}

.question {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.question p {
    font-size: 18px;
    font-weight: bold;
}

.question label {
    font-size: 16px;
    margin-left: 5px;
}
</style>
{% endblock content %}