{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Dashboard Pelatih - BABADU</title>
{% endblock meta %}

{% block content %}
<div class="content-container d-flex align-items-center justify-content-center mx-auto ">
	<div class="container rounded mt-2 mb-2">
		<div class="row align-items-center">
			<div class="col-md-3 align-items-center">
				<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5 border border-secondary mb-2" width="150px" alt="default profile picture" src="https://static.vecteezy.com/system/resources/thumbnails/002/534/006/small/social-media-chatting-online-blank-profile-picture-head-and-body-icon-people-standing-icon-grey-background-free-vector.jpg">
					<span class="font-weight-bold" id="full-name"></span>
					<span class="text-black-50" id="username1"></span>
					<span class="fw-light" id="contributor"></span>
				</div>
			</div>
			<div class="col-md-9">
				<div class="d-flex justify-content-between align-items-center">
					<h3><strong>Dashboard</strong></h3>
				</div>
				<div class="row mt-2">
					<div class="col-md-12"><label class="labels">Nama</label><input type="text" aria-labelledby="nama" class="form-control" placeholder="" value="" id="nama" disabled="true"></div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12"><label class="labels">Negara</label><input type="text" aria-labelledby="negara" class="form-control" placeholder="" value="" id="negara-edit" disabled="true"></div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12"><label class="labels">Email</label><input type="text" aria-labelledby="email" class="form-control" placeholder="" value="" id="email-edit" disabled="true"></div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12"><label class="labels">Spesialisasi Kategori</label><input type="text" aria-labelledby="tanggal-lahir" class="form-control" placeholder="" value="" id="tanggal-lahir-edit" disabled="true"></div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12"><label class="labels">Tanggal Mulai</label><input type="text" aria-labelledby="tanggal-lahir" class="form-control" placeholder="" value="" id="tanggal-lahir-edit" disabled="true"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container rounded bg-white mt-2 mb-2">
    
</div>
</div>
</div>
<!-- INTERNAL CSS FOR PELATIH -->
<style>
html, body {
    background-color: #f8f9fa;
    height: auto;
}

body {
    background-image: linear-gradient(to right, #10b4b1, #c6e8df);
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
}

.navbar-custom {
    background-color: #002B5B;
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.2);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    font-size: 1.25rem;
}

.navbar-custom .navbar-brand {
    font-weight: bold;
}

.navbar-custom .nav-link {
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #a2a378;
}

.btn-custom {
    background-color: #28708f;
    border-color: #28708f;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #164D68;
    border-color: #164D68;
}

.content-container {
    max-width: 5000px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 100px auto 50px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    padding: 20px;
    border-radius: 10px;
}

.table {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #146288;
    color: #fff;
}

.question {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.question p {
    font-size: 18px;
    font-weight: bold;
}

.question label {
    font-size: 16px;
    margin-left: 5px;
}
</style>
{% endblock content %}