{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		<h2>RIWAYAT HASIL PERTANDINGAN</h2>
		<table class="table table-bordered table-striped table-hover">
			<thead class="text-center">
			<tr>
        <th>Event</th>
        <th></th>
			</tr>
			</thead>
			<tbody class="text-center">
			<tr>
        <th>Uber Cup</th> 
        <td><button class="btn btn-custom btn-primary">Pilih</button></td>
			</tr>
			<tr>
        <th>Grab Cup</th>
        <td><button class="btn btn-custom btn-primary">Pilih</button></td>
			</tr>
			<tr>
        <th>Gojek Cup</th>
        <td><button class="btn btn-custom btn-primary">Pilih</button></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</center>
{% endblock content %}