{% extends 'base.html' %}

{% block content %}

<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		<h2>LIST EVENT</h2>
		<table class="table table-bordered table-striped table-hover">
			<thead class="text-center">
			<tr>
        <th>Nama Event</th>
				<th>Stadium</th>
				<th>Hadiah</th>
				<th>Kategori Superseries</th>
        <th>Tanggal Mulai</th>
        <th>Tanggal Selesai</th>
        <th>Kapasitas</th>
        <th></th>
			</tr>
			</thead>
			<tbody class="text-center">
			<tr>
        <th>Uber Cup</th>
				<td>Gelora Bung Karno</td>
				<td>1000000</td>
				<td>XXXX</td>
        <td>[DD/MM/YYYY]</td>
        <td>[DD/MM/YYYY]</td>
        <td>20000</td>
        <td><button class="btn btn-custom btn-primary">Main</button></td>
			</tr>
			<tr>
        <th>Grab Cup</th>
				<td>Gelora Bung Haypo</td>
				<td>1000000000</td>
				<td>XXXX</td>
        <td>[DD/MM/YYYY]</td>
        <td>[DD/MM/YYYY]</td>
        <td>30000</td>
        <td><button class="btn btn-custom btn-primary">Main</button></td>
			</tr>
			<tr>
        <th>Gojek Cup</th>
				<td>Gelora Gelori</td>
				<td>10000000000</td>
				<td>XXXX</td>
        <td>[DD/MM/YYYY]</td>
        <td>[DD/MM/YYYY]</td>
        <td>40000</td>
        <td><button class="btn btn-custom btn-primary">Main</button></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}