{% extends 'base.html' %}

{% block content %}
<style>
    #inside {
        text-align: center !important;
        margin: auto !important;
    }

    .btn-minus {
        color: red;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
    }

    .btn-plus {
        color: green;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
    }
</style>

<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container" id="inside">
        <h4>Pertandingan Perempat-Final</h4>
        <table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<h1 id="timer">00:00</h1>

					<script>
						var totalSeconds = 0;
						var timerElement = document.getElementById("timer");

						function updateTimer() {
						// Menghitung jumlah jam, menit, dan detik
						var hours = Math.floor(totalSeconds / 3600);
						var minutes = Math.floor((totalSeconds % 3600) / 60);
						var seconds = totalSeconds % 60;

						// Format waktu menjadi "MM:SS"
						var formattedTime = padNumber(minutes) + ":" + padNumber(seconds);

						// Memperbarui elemen dengan ID 'timer'
						timerElement.textContent = formattedTime;

						// Menambahkan 1 detik ke totalSeconds
						totalSeconds++;
						}

						// Memanggil updateTimer setiap detik (1000ms)
						setInterval(updateTimer, 1000);

						// Fungsi untuk memformat angka menjadi dua digit dengan menambahkan leading zero
						function padNumber(number) {
						return number.toString().padStart(2, "0");
						}
					</script>
				</tr>
				<tr>
					<th>Tim 1</th>
					<th>Tim 2</th>
					<th>Skor Tim 1</th>
					<th>Skor Tim 2</th>
				</tr>
			</thead>
			<tbody>
				{% for nama in list_nama %}
				<tr>
					<td>{{nama.0.0}}</td>
					<td>{{nama.1.0}}</td>
					<td>
						<button class="btn-minus" onclick="decrementValue(this)">&#x2013;</button>
						<span class="value">1</span>
						<button class="btn-plus" onclick="incrementValue(this)">+</button>
					</td>
					<td>
						<button class="btn-minus" onclick="decrementValue(this)">&#x2013;</button>
						<span class="value">0</span>
						<button class="btn-plus" onclick="incrementValue(this)">+</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<br>
		<button class="btn btn-custom btn-primary">NEXT</button>
	</div>
</div>

<script>
    function incrementValue(button) {
        var valueElement = button.parentNode.querySelector('.value');
        var value = parseInt(valueElement.innerHTML);
        valueElement.innerHTML = value + 1;
    }

    function decrementValue(button) {
        var valueElement = button.parentNode.querySelector('.value');
        var value = parseInt(valueElement.innerHTML);
        if (value > 0) {
            valueElement.innerHTML = value - 1;
        }
    }
</script>





{% endblock content %}