{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Daftar Event</title>
<link rel="stylesheet" href="{% static 'atlet/css/atlet.css' %}">
{% endblock meta %}

{% block content %}
<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		<h2>Daftar Event</h2>
		<table class="table table-bordered table-striped table-hover">
			<thead class="text-center">
			<tr>
				<th>Nama Event</th>
				<th>Total Hadiah</th>
				<th>Tanggal Mulai</th>
				<th>Kategori</th>
				<th></th>
			</tr>
			</thead>
			<tbody class="text-center">
			{% for event in list_event %}
			<tr>
				<td>{{ event.0 }}</td>
				<td>{{ event.7 }}</td>
				<td>{{ event.4 }}</td>
				<td>{{ event.6 }}</td>
				<td>
					<a href="{% url 'atlet:pilih_kategori' event.0 event.1 %}" class="btn btn-custom btn-primary">Pilih</a>
				</td>
			</tr>
			{% endfor %}
			
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}