{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Daftar Stadium</title>
<link rel="stylesheet" href="{% static 'atlet/css/atlet.css' %}">
{% endblock meta %}

{% block content %}
<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		<h2>Daftar Stadium</h2>
		<table class="table table-bordered table-striped table-hover">
			<thead class="text-center">
			<tr>
				<th>Nama Stadium</th>
				<th>Negara</th>
				<th>Kapasitas</th>
				<th></th>
			</tr>
			</thead>
			<tbody class="text-center">
			{% for stadium in list_stadium %}

			<tr>
				<td>{{ stadium.0 }}</td>
				<td>{{ stadium.3 }}</td>
				<td>{{ stadium.2 }}</td>
				<td>
					<a href="{% url 'atlet:daftar_event' stadium.0 %}" class="btn btn-custom btn-primary">Pilih</a>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}