{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Daftar Sponsor</title>
<link rel="stylesheet" href="{% static 'atlet/css/atlet.css' %}">
{% endblock meta %}

{% block content %}
<style>
input, select {
    float: right;
    clear: both;
}
</style>

<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
        <h2>DAFTAR SPONSOR</h2>
        <form>
            <div class="form-group">
                <label for="nama-sponsor">Nama Sponsor:</label>
                <select id="nama-sponsor" name="nama-sponsor">
                <option value="">Pilih Sponsor</option>
                <option value="Sponsor A">Sponsor A</option>
                <option value="Sponsor B">Sponsor B</option>
                <option value="Sponsor C">Sponsor C</option>
                <option value="Sponsor D">Sponsor D</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tanggal-mulai">Tanggal Mulai:</label>
                <input type="date" id="tanggal-mulai" name="tanggal-mulai">
            </div>
            <div class="form-group">
                <label for="tanggal-selesai">Tanggal Selesai:</label>
                <input type="date" id="tanggal-selesai" name="tanggal-selesai">
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-custom btn-primary">
            </div>
        </form>
	</div>
</div>
{% endblock content %}