{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Daftar Sponsor</title>
<link rel="stylesheet" href="{% static 'atlet/css/atlet.css' %}">
{% endblock meta %}

{% block content %}
<style>
input, select {
    float: right;
    clear: both;
}
</style>

<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
        <h2>Daftar Sponsor</h2>
        {% if errorFlagBefore %}
            {% if isEndswithSuccess %}
                <div class="alert alert-success" role="alert" id="center">
                    {{ errorMsgBefore }}
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert" id="center">
                    {{ errorMsgBefore }}
                </div>
            {% endif %}
        {% endif %}
        <form method="POST">
            <p> Nama Sponsor: 
                {% csrf_token %}
                {{ form.dropdown }} 
            </p>
            <div class="form-group">
                <label for="tanggal-mulai">Tanggal Mulai:</label>
                <input type="date" id="tanggal-mulai" name="tanggal-mulai" required>
            </div>
            <div class="form-group">
                <label for="tanggal-selesai">Tanggal Selesai:</label>
                <input type="date" id="tanggal-selesai" name="tanggal-selesai" required>
            </div>
            <button type="submit">Submit</button>
        </form>
	</div>
</div>
{% endblock content %}