{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Dashboard Atlet - BABADU</title>
<link rel="stylesheet" href="{% static 'auth/css/auth.css' %}">
{% endblock meta %}

{% block content %}
<div class="content-container d-flex align-items-center justify-content-center mx-auto ">
	<div class="container rounded mt-2 mb-2">
		<div class="row align-items-center">
			<div class="col-md-3 align-items-center">
				<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5 border border-secondary mb-2" width="150px" alt="default profile picture" src="https://static.vecteezy.com/system/resources/thumbnails/002/534/006/small/social-media-chatting-online-blank-profile-picture-head-and-body-icon-people-standing-icon-grey-background-free-vector.jpg">
					<span class="font-weight-bold" id="full-name"></span>
					<span class="text-black-50" id="username1"></span>
					<span class="fw-light" id="contributor"></span>
				</div>
			</div>
			<div class="col-md-9">
				<div class="d-flex justify-content-between align-items-center">
					<h3><strong>Dashboard</strong></h3>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<label class="labels">Nama Lengkap</label>
						<textarea aria-labelledby="namalengkap" class="form-control" placeholder="" rows="1" id="namalengkap" readonly>{{ data_atlet.0 }}</textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<label class="labels">Negara</label>
						<textarea aria-labelledby="negara" class="form-control" placeholder="" rows="1" id="negara-edit" readonly>{{ data_atlet.1 }}</textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<label class="labels">Email</label>
						<textarea aria-labelledby="email" class="form-control" placeholder="" rows="1" id="email-edit" readonly>{{ data_atlet.2 }}</textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-12">
						<label class="labels">Tanggal Lahir</label>
						<textarea aria-labelledby="tanggal-lahir" class="form-control" placeholder="" rows="1" id="tanggal-lahir-edit" readonly>{{ data_atlet.3 }}</textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-6">
						<label class="labels">Play</label>
						<textarea aria-labelledby="play" class="form-control" placeholder="" rows="1" id="play" readonly>{{ data_atlet.4 }}</textarea>
					</div>
					<div class="col-md-6">
						<label class="labels">Tinggi Badan</label>
						<textarea aria-labelledby="tinggi" class="form-control" rows="1" id="tinggi" readonly>{{ data_atlet.5 }}</textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-6">
						<label class="labels">Pelatih</label>
						<textarea aria-labelledby="pelatih" class="form-control" placeholder="" rows="4" id="pelatih" readonly>{{ data_atlet.6 }}</textarea>
					</div>
					<div class="col-md-6">
						<label class="labels">Status</label>
						<textarea aria-labelledby="status" class="form-control" rows="1" id="status" readonly>{{ data_atlet.7 }}</textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-md-6">
						<label class="labels">World Rank</label>
						<textarea aria-labelledby="world-rank" class="form-control" placeholder="" rows="1" id="world-rank" readonly>{{ data_atlet.8 }}</textarea>
					</div>
					<div class="col-md-6">
						<label class="labels">Total Poin</label>
						<textarea aria-labelledby="total-poin" class="form-control" rows="1" id="total-poin" readonly>{{ data_atlet.9 }}</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container rounded bg-white mt-2 mb-2">
    
</div>
</div>
</div>
{% endblock content %}
