{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Form Kualifikasi</title>
<link rel="stylesheet" href="{% static 'atlet/css/atlet.css' %}">
{% endblock meta %}

{% block content %}
<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		<h2><strong>FORM DATA KUALIFIKASI</strong></h2>
		<form>
			<div class="form-group">
				<label for="batch">Nomor batch:</label>
				<input type="text" class="form-control" id="batch" placeholder="Masukkan nomor batch" required>
			</div>
			<div class="form-group">
				<label for="location">Tempat pelaksanaan:</label>
				<select class="form-control" id="location">
					<option>Tempat Dummy 1</option>
					<option>Tempat Dummy 2</option>
					<option>Tempat Dummy 3</option>
				</select>
			</div>
			<div class="form-group">
				<label for="date">Tanggal pelaksanaan:</label>
				<select class="form-control" id="date">
					<option>Tanggal Dummy 1</option>
					<option>Tanggal Dummy 2</option>
					<option>Tanggal Dummy 3</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary btn-custom btn-block">NEXT</button>
		</form>
	</div>
</div>
{% endblock content %}