{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>FORM PEMILIHAN PARTAI KOMPETISI</title>
{% endblock meta %}

{% block content %}
<div class="content-container d-flex align-items-center justify-content-center mx-auto">
	<div class="container">
		<h3 class="text-center"><strong>FORM PEMILIHAN PARTAI KOMPETISI</strong></h3>
		<p><strong>Event:</strong> {{ event.0 }}</p>
		<p><strong>Hadiah:</strong> {{ event.7 }}</p>
		<p><strong>Tanggal Mulai:</strong> {{ event.4 }}</p>
		<p><strong>Tanggal Selesai:</strong> {{ event.5 }}</p>
		<p><strong>Kategori:</strong> {{ event.6 }}</p>
		<p><strong>Kapasitas:</strong> {{ event.10 }}</p>
		<p><strong>Stadium:</strong> {{ event.2 }}</p>
		<p><strong>Negara:</strong> {{ event.3 }}</p>
		<hr>
		
		{% if msg != " " or msg is not None or msg != '' %}
		<div class="alert alert-warning" role="alert">
			{{ msg }}
		</div>
		{% endif %}
		
		{% if is_atlet_kualifikasi %}
		
		<table class="table table-bordered table-striped table-hover">
			<thead class="text-center">
			<tr>
				<th>Kategori</th>
				<th>Partner</th>
				<th>Kapasitas</th>
				<th></th>
			</tr>
			</thead>
			<tbody class="text-center">
			{% for partai in list_partai_kompetisi %}
			<form method="POST">
				{% csrf_token %}
				<tr>
					<td>{{ partai.0 }}</td>
					<td>
						{% if partai.0 == 'Tunggal Putra' or partai.0 == 'Tunggal Putri' %}
						<p>-</p>
						{% elif partai.0 == 'Ganda Putra' or partai.0 == 'Ganda Putri' %}
						<select class="custom-select" name="{{ partai.0 }}">
							<option style="display:none;" selected>Pilih Atlet</option>
							{% for atlet in list_atlet_jenis_kelamin %}
							{% if atlet.18 == 'WS' or atlet.18 == 'MS' %}
							<option value="{{ atlet.1 }}">{{ atlet.11 }}</option>
							{% endif %}
							{% endfor %}
						</select>
						{% elif partai.0 == 'Ganda Campuran' %}
						<select class="custom-select" name="{{ partai.0 }}">
							<option style="display:none;" selected>Pilih Atlet</option>
							{% for atlet in list_atlet %}
							{% if atlet.18 == 'XD' %}
							<option value="{{ atlet.1 }}">{{ atlet.11 }}</option>
							{% endif %}
							{% endfor %}
						</select>
						{% endif %}
					</td>
					<td>{{ partai.3 }}/{{ event.10 }}</td>
					
					<td>
						{% if partai.3 == event.10 %}
						<button type="submit" class="btn btn-primary btn-custom" disabled>Pilih</button>
						{% else %}
						<button type="submit" class="btn btn-primary btn-custom">Pilih</button>
						{% endif %}
					</td>
				
				</tr>
			</form>
			
			{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="alert alert-warning" role="alert">
			<p>Anda Belum Terkualifikasi</p>
		</div>
		{% endif %}
	</div>
</div>
<!-- INTERNAL CSS FOR ATLET -->
<style>
html, body {
    background-color: #f8f9fa;
    height: auto;
}

body {
    background-image: linear-gradient(to right, #10b4b1, #c6e8df);
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100vh;
}

.navbar-custom {
    background-color: #002B5B;
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.2);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    font-size: 1.25rem;
}

.navbar-custom .navbar-brand {
    font-weight: bold;
}

.navbar-custom .nav-link {
    transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
    color: #a2a378;
}

.btn-custom {
    background-color: #368aab;
    border-color: #28708f;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #225e83;
    border-color: #164D68;
}

.content-container {
    max-width: 5000px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 100px auto 50px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-container {
    padding: 20px;
    border-radius: 10px;
}

.table {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

thead {
    background-color: #146288;
    color: #fff;
}

.question .form-group {
    background-color: #c5e5e4;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.question label {
    font-size: 16px;
    margin-left: 5px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
</style>
{% endblock content %}